{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}loginpage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<section>
    <div class="login">
        <form method="POST" class="ui form {% if message %}error{% endif %}">
            <h3 class="uix header centered">
                Changement terminé,
            </h3>
            <div class="field">
                <p>Votre mot de passe a bien été modifié. Vous pouvez maintenant vous connecter.</p>              
                <a href="/connexion" class="ui button">Se connecter</a>
            </div>
        </form>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}