.Memberships {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  overflow: auto; }
  .Memberships .bg {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed; }
    .Memberships .bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .Memberships .layout {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column-reverse; }
    .Memberships .layout .top {
      top: 0;
      left: 0;
      z-index: 3;
      position: absolute; }
      .Memberships .layout .top div {
        color: #065f46; }
    .Memberships .layout .left {
      padding: 1rem;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 61, 0, 0.8); }
      .Memberships .layout .left > div {
        color: #ffffffc7;
        font-size: 1.25rem;
        max-width: 800px; }
        .Memberships .layout .left > div ul {
          padding-left: 2rem; }
          .Memberships .layout .left > div ul i.icon {
            color: #ffff45;
            margin-left: -2rem; }
        .Memberships .layout .left > div b {
          color: white; }
    .Memberships .layout .middle {
      width: 60%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(148, 148, 148, 0.8);
      background-color: rgba(255, 255, 255, 0.8); }
    .Memberships .layout .right {
      width: 100%;
      padding-top: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(148, 148, 148, 0.8);
      background-color: rgba(255, 255, 255, 0.8); }
  .Memberships .congratulations {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    max-width: 400px; }
    .Memberships .congratulations h2 {
      color: #065f46;
      font-size: 2.5rem; }
  @media (min-width: 1024px) {
    .Memberships .layout {
      flex-flow: row wrap; }
      .Memberships .layout .top div {
        color: white; }
      .Memberships .layout .right {
        width: 35%;
        padding-top: 0; }
        .Memberships .layout .right .fields {
          grid-gap: .5rem;
          flex-direction: column; }
          .Memberships .layout .right .fields .field {
            width: 100%; } }
  @media (min-width: 1280px) {
    .Memberships .layout .right .fields {
      flex-direction: row; }
      .Memberships .layout .right .fields .field {
        width: fit-content;
        width: -webkit-fill-available; } }

.Profil {
  min-height: calc(100vh - 5rem);
  background-color: rgba(0, 0, 0, 0.1);
  /*
        COMPONENTS
    */
  /*
        PAGES
    */ }
  .Profil .ui.header {
    padding: 0; }
  .Profil .menu {
    margin-top: 1rem;
    background-color: white; }
    .Profil .menu .list {
      border: 1px solid rgba(128, 128, 128, 0.3); }
      .Profil .menu .list a {
        padding: 0.75rem;
        display: block;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3); }
        .Profil .menu .list a:hover {
          color: #065f46; }
      .Profil .menu .list:last-child {
        border-bottom: 0; }
  .Profil .criticals {
    padding-top: 1rem; }
    .Profil .criticals .header {
      padding: 0; }
  .Profil section {
    padding: 1rem;
    background-color: white; }
    .Profil section.message.lightgreen {
      background-color: #49951d9c; }
    .Profil section.message.lightbrown {
      background-color: #523303bd; }
    .Profil section.message p {
      font-size: 1.1rem;
      font-weight: bold; }
  .Profil article > .header {
    padding: 1rem 0; }
  .Profil .message .header {
    padding-top: 0;
    padding-bottom: .5rem; }
  .Profil .ui.card .header {
    padding: 0; }
  .Profil .dashboard.family .ui.sub.header {
    font-size: 1.2rem; }
  .Profil .dashboard.application .ui.sub.header {
    font-size: 1.2rem; }
  .Profil .profil form > h3 {
    padding-top: 0; }
  .Profil .applications {
    padding: 0;
    background-color: transparent; }
    .Profil .applications .header button {
      float: right;
      background-color: #e0e1e2; }
    .Profil .applications .description {
      margin-bottom: 1rem; }
    .Profil .applications .condition {
      display: none; }
    .Profil .applications .children label.signed {
      color: #389900; }
  .Profil .children .card .header .first_name {
    text-transform: capitalize; }
  .Profil .children .ui.two.buttons a,
  .Profil .children .ui.two.buttons a:hover,
  .Profil .children .ui.two.buttons a:focus,
  .Profil .children .ui.two.buttons a:visited {
    color: inherit; }
  .Profil .cotisations .cotisation {
    background-color: transparent; }
    .Profil .cotisations .cotisation .header {
      padding-top: 0; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card .image img {
      max-height: 250px;
      object-fit: cover; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards {
      padding: 1rem;
      display: inherit; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card {
        width: 250px; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card .date {
          display: none; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card .price {
          display: inline; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card .icon.add {
          display: inline; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card .icon.check {
          display: none; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought a {
          color: white;
          background-color: #5dbd26; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought .date {
          display: inline; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought .price {
          display: none; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought .icon.add {
          display: none; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought .icon.check {
          display: inline; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card .payment {
      margin: 1rem;
      display: none;
      grid-gap: .5rem;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .payment h3 {
        font-weight: bold; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .payment a {
        color: white;
        background-color: #5dbd26; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .payment .icon {
        font-size: 1.75rem; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .payment .icon.credit::before {
          content: "\f09d"; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .payment.active {
        display: flex; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card .documents {
      margin: 1rem;
      display: none;
      grid-gap: .5rem;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .documents.active {
        display: flex; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card .footer {
      padding: .5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .footer span.bought {
        color: #5dbd26; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .footer a.buy {
        color: white;
        background-color: #5dbd26; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .footer i.icon.credit::before {
        content: "\f09d"; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card.active .plans.ui.cards {
      display: inherit; }
    .Profil .cotisations .cotisation.past .extra.content {
      display: none; }
  .Profil .documents .search .searchtags .ui.label {
    opacity: .6;
    margin-bottom: .25rem; }
    .Profil .documents .search .searchtags .ui.label.active {
      opacity: .8; }
  .Profil .documents .ui.stackable.cards .ui.card {
    width: 260px;
    display: none; }
    .Profil .documents .ui.stackable.cards .ui.card .ui.label {
      opacity: .8;
      margin-bottom: .25rem; }
    .Profil .documents .ui.stackable.cards .ui.card.hidden {
      display: none; }
    .Profil .documents .ui.stackable.cards .ui.card.active {
      display: flex; }
  .Profil.wide .ui.container {
    padding: 1rem;
    overflow: hidden;
    width: 100%; }
  .Profil .admin.members section.list {
    overflow: auto; }
    .Profil .admin.members section.list table {
      width: max-content; }
  @media (min-width: 1024px) {
    .Profil {
      min-height: calc(100vh - 8rem); } }

.ui.form .xsearch {
  padding: .67857143em 2.1em .67857143em 1em;
  line-height: 1.21428571em;
  z-index: 2;
  position: absolute; }

.ui.modal.application .condition h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.ui.modal.application .condition p {
  line-height: 25px; }

/*# sourceMappingURL=memberships.css.map */