@use '../../../vendor/semantic/components/icon.min.css' as semantic;
body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: lightgray; }

.ui.container.transparent {
  background-color: transparent; }

nav {
  background-color: #49951d; }
  nav.computer {
    height: 8rem;
    z-index: 1;
    position: relative; }
    nav.computer.row {
      padding: 0; }
    nav.computer::before {
      width: calc(((100vw - 1127px) / 2) + (1127px * 0.33));
      height: 100%;
      content: "";
      z-index: -1;
      position: absolute;
      clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
      background-color: white; }
    nav.computer .ui.container {
      background-color: transparent; }
      nav.computer .ui.container a {
        cursor: pointer; }
        nav.computer .ui.container a.name:hover {
          color: inherit; }
        nav.computer .ui.container a.name:active {
          color: inherit; }
        nav.computer .ui.container a.name:visited {
          color: inherit; }
      nav.computer .ui.container i.icon {
        line-height: 100%; }
        nav.computer .ui.container i.icon.phone {
          transform: rotate(90deg); }
      nav.computer .ui.container .green-500 {
        background-color: #5dbd26; }
      nav.computer .ui.container .green-800 {
        background-color: #346a15; }
      nav.computer .ui.container .top .item:hover {
        color: #2a5511; }
      nav.computer .ui.container .bottom > div > a,
      nav.computer .ui.container .bottom > div > div {
        line-height: 3.5rem; }
        nav.computer .ui.container .bottom > div > a:hover,
        nav.computer .ui.container .bottom > div > div:hover {
          color: #346a15; }
      nav.computer .ui.container .bottom .green-800:hover {
        color: white;
        background-color: #49951d; }
      nav.computer .ui.container .brown {
        background-color: #523303; }
        nav.computer .ui.container .brown:hover {
          color: white !important;
          background-color: #85540a; }
      nav.computer .ui.container .item.hidden {
        display: none; }
      nav.computer .ui.container .menu .item {
        cursor: pointer; }
        nav.computer .ui.container .menu .item.hidden {
          display: none; }
        nav.computer .ui.container .menu .item:hover {
          color: #006141; }
      nav.computer .ui.container .menu .submenu .item:hover {
        color: #10b981; }
      nav.computer .ui.container .menu .ui.dropdown {
        display: inherit; }
        nav.computer .ui.container .menu .ui.dropdown .menu {
          border-radius: 0; }
          nav.computer .ui.container .menu .ui.dropdown .menu .item {
            color: #10b981;
            color: #006141;
            font-weight: bold;
            text-transform: uppercase; }
            nav.computer .ui.container .menu .ui.dropdown .menu .item:hover {
              color: white;
              background: #10b981; }
  nav.responsive {
    display: none;
    background-color: white; }
    nav.responsive #mobile_item {
      order: 3; }
    nav.responsive .menu .item.hidden {
      display: none; }
    nav.responsive .menu i.icon.bars {
      margin: 0 1rem;
      font-size: 2rem;
      line-height: 5rem; }
  nav.sidebar .green-500 {
    background-color: #5dbd26; }
  nav.sidebar .item {
    text-align: center; }
    nav.sidebar .item::before {
      height: 0; }
  nav.sidebar .top .item {
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase; }
    nav.sidebar .top .item:focus {
      color: white; }
    nav.sidebar .top .item:hover {
      color: white; }
    nav.sidebar .top .item:active {
      color: white; }
    nav.sidebar .top .item:visited {
      color: white; }
  nav.sidebar .top .menu .item {
    color: rgba(0, 0, 0, 0.5); }
    nav.sidebar .top .menu .item:hover {
      color: rgba(0, 0, 0, 0.5); }
  nav.sidebar .top div.item > .menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0.5s linear;
    margin-top: 13px !important;
    margin-bottom: -1rem !important;
    background-color: white; }
    nav.sidebar .top div.item > .menu .item {
      padding: 1rem; }
    nav.sidebar .top div.item > .menu.active {
      display: block;
      opacity: 1;
      visibility: visible; }
  nav.sidebar .bottom .item::before {
    height: 0 !important; }
  nav.sidebar .bottom .item > i.icon {
    float: left !important; }
  @media (max-width: 1024px) {
    nav.computer {
      display: none; }
    nav.responsive {
      display: inherit; } }
  @media (max-width: 1199px) {
    nav.computer::before {
      background-color: transparent; }
    nav.computer .ui.container {
      width: 100%;
      color: white; }
      nav.computer .ui.container .item.blank {
        display: none; } }

.ui.pushable {
  height: calc(100vh - 8rem);
  overflow: hidden;
  box-sizing: content-box; }
  .ui.pushable .pusher {
    height: 100%;
    overflow: auto; }
    .ui.pushable .pusher.dimmed {
      overflow: hidden; }
  @media (max-width: 1024px) {
    .ui.pushable {
      height: calc(100vh - 5rem); } }

section {
  width: 100%;
  margin: 0rem 0; }

/*  //////
    WIDGETS 
    ////// */
.home.front {
  min-height: calc(100vh - 5rem);
  z-index: 100;
  overflow: hidden;
  position: relative; }
  .home.front .filter {
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 101;
    position: absolute; }
  .home.front .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 102;
    position: relative; }
    .home.front .bg img {
      width: 100%;
      height: 100%;
      opacity: .5;
      object-fit: cover; }
    .home.front .bg.purple {
      background-color: #523303; }
  .home.front .top.banner {
    width: 100%;
    padding: 0rem;
    text-align: center;
    z-index: 103;
    position: relative;
    border-bottom: 5px solid white;
    background-color: #5dbd26; }
    .home.front .top.banner span {
      font-family: 'Roboto', sans-serif; }
    .home.front .top.banner .join {
      color: white;
      font-size: 2rem;
      letter-spacing: 5px; }
    .home.front .top.banner hr {
      margin: 0rem 4rem;
      border-color: #edee3b;
      border-width: 3px;
      background-color: #edee3b; }
    .home.front .top.banner .upem {
      color: #edee3b;
      font-size: 3.5rem;
      font-weight: bold;
      letter-spacing: 15px;
      text-transform: uppercase; }
  .home.front .bottom.banner {
    width: 100%;
    padding: 1rem;
    border-top: 5px solid white;
    background-color: #5dbd26;
    left: 0;
    bottom: 0;
    z-index: 103;
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column; }
    .home.front .bottom.banner .intro {
      color: #edee3b;
      font-size: 1.5rem; }
      .home.front .bottom.banner .intro .sy {
        color: #176e6b;
        display: block;
        font-size: 2rem;
        font-weight: bold; }
    .home.front .bottom.banner .slogan {
      color: white;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px; }
      .home.front .bottom.banner .slogan .icon {
        color: #edee3b; }
  .home.front .content {
    color: white;
    top: 0;
    left: 0;
    z-index: 103;
    position: relative; }
  .home.front .ui.container {
    background-color: transparent; }
    .home.front .ui.container h1 {
      color: white;
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase; }
  @media (min-width: 768px) {
    .home.front .bg {
      position: absolute; }
    .home.front .top.banner .join {
      font-size: 2.5rem; }
    .home.front .top.banner hr {
      margin: 0 auto;
      width: 300px; }
    .home.front .bottom.banner {
      padding: 2rem; }
      .home.front .bottom.banner .intro .sy {
        display: inline; } }
  @media (min-width: 1024px) {
    .home.front {
      min-height: calc(100vh - 8rem); } }
  @media (min-width: 1280px) {
    .home.front .bottom.banner {
      padding: 1rem; }
      .home.front .bottom.banner .intro {
        font-size: 2.5rem; }
        .home.front .bottom.banner .intro .sy {
          font-size: 3rem; }
      .home.front .bottom.banner .slogan {
        font-size: 4rem; } }
  @media (min-width: 159936px) {
    .home.front {
      height: calc(100vh - 8rem);
      padding: 3rem; }
      .home.front .bg {
        position: absolute; }
      .home.front .top.banner {
        width: 1000px;
        min-height: 20rem;
        margin-top: 2rem;
        padding-left: 200px;
        left: -200px;
        position: absolute;
        transform: rotate(10deg);
        border: 5px solid white;
        border-radius: 15px; }
        .home.front .top.banner span {
          text-transform: uppercase; }
        .home.front .top.banner .join {
          font-size: 6rem; }
        .home.front .top.banner hr {
          width: auto; }
        .home.front .top.banner .upem {
          font-size: 8rem; }
      .home.front .bottom.banner {
        min-height: 20rem;
        padding: 5rem;
        border-top: 5px solid white;
        background-color: #5dbd26;
        left: 0;
        bottom: 0;
        z-index: 103;
        position: absolute;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column; }
        .home.front .bottom.banner .intro {
          color: #edee3b;
          font-size: 2.5rem; }
          .home.front .bottom.banner .intro .sy {
            color: #176e6b;
            font-size: 3rem;
            font-weight: bold; }
        .home.front .bottom.banner .slogan {
          color: white;
          font-size: 5rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px; }
          .home.front .bottom.banner .slogan .icon {
            color: #edee3b; }
      .home.front .content {
        color: white;
        top: 0;
        left: 0;
        z-index: 103;
        position: relative; }
      .home.front .ui.container {
        background-color: transparent; }
        .home.front .ui.container h1 {
          color: white;
          font-size: 2.5rem;
          font-weight: bold;
          letter-spacing: 2px;
          text-transform: uppercase; } }

.banner.page {
  padding: 3rem;
  z-index: 100;
  overflow: hidden;
  position: relative; }
  .banner.page.full.page {
    height: calc(100vh - 8rem); }
  .banner.page .filter {
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 101;
    position: absolute; }
  .banner.page .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 102;
    position: absolute; }
    .banner.page .bg img {
      width: 100%;
      height: 100%;
      opacity: .5;
      object-fit: cover; }
    .banner.page .bg.black {
      background-color: black; }
    .banner.page .bg.purple {
      background-color: #523303; }
    .banner.page .bg.darkgray {
      background-color: #0d0d0d; }
  .banner.page .ui.container {
    color: white;
    top: 0;
    left: 0;
    z-index: 103;
    position: relative;
    background-color: transparent; }

.uix.header {
  padding: 1rem 0;
  color: #065f46;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .uix.header .subheader {
    color: rgba(0, 0, 0, 0.87);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: none; }
  .uix.header.white {
    color: white; }
  .uix.header.lightgray {
    color: #b3b3b3; }
    .uix.header.lightgray .subheader {
      color: #b3b3b3; }
  .uix.header.centered {
    text-align: center; }
    .uix.header.centered .subheader {
      text-align: center; }

h1.uix.header {
  padding: 1.5rem 0;
  font-size: 3rem; }
  h1.uix.header .subheader {
    font-size: 2.5rem; }

h2.uix.header {
  padding: 1.5rem 0;
  font-size: 2rem; }
  h2.uix.header .subheader {
    font-size: 2.5rem; }

h3.uix.header {
  padding: 1rem 0;
  font-size: 1.5rem; }
  h3.uix.header .subheader {
    font-size: 2rem; }

h4.uix.header {
  padding: 1rem 0;
  font-size: 1rem; }
  h4.uix.header .subheader {
    font-size: 1.5rem; }

@media (max-width: 1024px) {
  .aboutpage .page.banner {
    padding: 1rem; }
    .aboutpage .page.banner .uix.header {
      font-size: 2.25rem; }
  .aboutpage .container {
    width: auto;
    padding: 0 1rem; } }

@media (max-width: 768px) {
  .aboutpage .page.banner {
    padding: 1rem; }
    .aboutpage .page.banner .uix.header {
      font-size: 1.25rem; } }

.aboutpage .history.image {
  display: flex !important;
  align-items: center;
  justify-content: center; }

.highlights {
  padding: 2rem 0; }
  .highlights .tile {
    padding: 0rem;
    flex-direction: column; }
  .highlights.four .tile {
    height: 100%;
    display: flex;
    grid-gap: 1rem; }
    .highlights.four .tile * {
      text-align: center; }
    .highlights.four .tile .image img {
      width: 125px;
      height: 125px;
      margin: auto;
      border: 2px solid gray;
      border-radius: 50%; }
    .highlights.four .tile .image i.icon {
      --icon-size: 75px;
      width: var(--icon-size);
      height: var(--icon-size);
      color: #044c38;
      font-size: 2rem;
      line-height: var(--icon-size);
      border: 2px solid #044c38;
      border-radius: 50%;
      background-color: #098663; }
    .highlights.four .tile .title {
      font-size: 1.5rem; }
  .highlights.list .ui.container {
    background-color: transparent; }
  .highlights.list .tile {
    height: 100%;
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    color: white; }
    .highlights.list .tile .image {
      width: auto; }
      .highlights.list .tile .image img {
        --image-size: 75px;
        width: var(--image-size);
        height: var(--image-size);
        margin: auto;
        border: 2px solid gray;
        border-radius: 50%; }
      .highlights.list .tile .image i.icon {
        --icon-size: 75px;
        width: var(--icon-size);
        height: var(--icon-size);
        color: #044c38;
        font-size: 2rem;
        line-height: var(--icon-size);
        border: 2px solid #044c38;
        border-radius: 50%;
        background-color: #098663; }
    .highlights.list .tile .right {
      flex: 1; }
      .highlights.list .tile .right .title {
        color: #10b981;
        font-size: 1.5rem; }
  .highlights.list.light {
    color: white; }
  @media (min-width: 768px) {
    .highlights {
      padding: 3rem; }
      .highlights .tile {
        padding: 1rem; }
      .highlights.list .tile {
        flex-flow: row nowrap; } }

.quote {
  padding: 0rem;
  display: flex;
  grid-gap: 1rem;
  flex-flow: column nowrap;
  justify-content: center; }
  .quote .left .icon.left {
    color: #edee3b;
    padding: 0;
    font-size: 4rem;
    line-height: 100%; }
  .quote blockquote {
    max-width: 700px;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    grid-gap: 1rem;
    flex-direction: column; }
    .quote blockquote .author {
      text-align: right; }
      .quote blockquote .author span {
        color: #edee3b; }
  @media (min-width: 768px) {
    .quote {
      padding: 1rem;
      flex-flow: row nowrap; } }

.organization.splide {
  padding: 1rem 0; }
  .organization.splide .ui.cards .card .header {
    text-align: center; }
    .organization.splide .ui.cards .card .header .first_name {
      text-transform: capitalize; }
  .organization.splide .ui.cards .card .meta {
    text-align: center;
    font-weight: bold; }
    .organization.splide .ui.cards .card .meta.president a {
      color: #591414; }
    .organization.splide .ui.cards .card .meta.vicepresident a {
      color: #218380; }
    .organization.splide .ui.cards .card .meta.administrator a {
      color: #bcbc10; }
    .organization.splide .ui.cards .card .meta.employee a {
      color: #5dbd26; }

.organization .legends {
  padding: 1rem .5rem 0 .5rem; }
  .organization .legends .item {
    font-size: 1.5rem;
    font-weight: bold; }
    .organization .legends .item::before {
      content: "";
      width: 2.5rem;
      border: 3px solid;
      display: inline-block;
      border-radius: 5px;
      vertical-align: middle; }

.history.richtext h1, .history.richtext h2, .history.richtext h3, .history.richtext h4 {
  padding: 1rem 0;
  color: #065f46;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .history.richtext h1 .subheader, .history.richtext h2 .subheader, .history.richtext h3 .subheader, .history.richtext h4 .subheader {
    color: rgba(0, 0, 0, 0.87);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: none; }
  .history.richtext h1.white, .history.richtext h2.white, .history.richtext h3.white, .history.richtext h4.white {
    color: white; }
  .history.richtext h1.lightgray, .history.richtext h2.lightgray, .history.richtext h3.lightgray, .history.richtext h4.lightgray {
    color: #b3b3b3; }
    .history.richtext h1.lightgray .subheader, .history.richtext h2.lightgray .subheader, .history.richtext h3.lightgray .subheader, .history.richtext h4.lightgray .subheader {
      color: #b3b3b3; }
  .history.richtext h1.centered, .history.richtext h2.centered, .history.richtext h3.centered, .history.richtext h4.centered {
    text-align: center; }
    .history.richtext h1.centered .subheader, .history.richtext h2.centered .subheader, .history.richtext h3.centered .subheader, .history.richtext h4.centered .subheader {
      text-align: center; }

.history.richtext h1 {
  padding: 1.5rem 0;
  font-size: 3rem; }
  .history.richtext h1 .subheader {
    font-size: 2.5rem; }

.history.richtext h2 {
  padding: 1.5rem 0;
  font-size: 2rem; }
  .history.richtext h2 .subheader {
    font-size: 2.5rem; }

.history.richtext h3 {
  padding: 1rem 0;
  font-size: 1.5rem; }
  .history.richtext h3 .subheader {
    font-size: 2rem; }

.history.richtext h4 {
  padding: 1rem 0;
  font-size: 1rem; }
  .history.richtext h4 .subheader {
    font-size: 1.5rem; }

.newsletter.columns {
  z-index: 100;
  position: relative; }
  .newsletter.columns > div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .newsletter.columns .left {
    padding: 1rem;
    z-index: 102;
    position: relative; }
  .newsletter.columns .right {
    z-index: 101;
    position: absolute;
    opacity: 0.2; }
    .newsletter.columns .right img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px; }

@media (min-width: 768px) {
  .newsletter.columns {
    display: flex;
    flex-flow: row nowrap;
    position: relative; }
    .newsletter.columns > div {
      width: 50%;
      padding: 1rem; }
    .newsletter.columns .right {
      position: relative; } }

.login {
  min-height: calc(100vh - 5rem);
  background-color: #5dbd26;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-height: 1px) {
    .login {
      min-height: calc(100vh - 8rem); }
      .login .form {
        width: 100vw;
        max-width: 400px;
        margin: 1rem;
        padding: 1.5rem 1rem;
        background-color: rgba(255, 255, 255, 0.9); }
        .login .form .ui.error.message {
          margin-top: 0; }
          .login .form .ui.error.message .header {
            padding: 0; }
        .login .form .field.email, .login .form .field.password {
          display: flex;
          position: relative;
          align-items: center; }
          .login .form .field.email span, .login .form .field.password span {
            padding: 0 .75rem;
            position: absolute;
            font-size: 1.25rem;
            font-family: Icons;
            line-height: 100%; }
          .login .form .field.email input, .login .form .field.password input {
            padding-left: 2.5rem; }
        .login .form .field.email span::before {
          content: "\f007"; }
        .login .form .field.password span::before {
          content: "\f023"; }
        .login .form .field.forgot, .login .form .field.signup {
          text-align: center; }
        .login .form .field.forgot a:hover, .login .form .field.forgot a:visited {
          color: #066046; }
        .login .form .field.signup a {
          color: #066046;
          font-size: 18px; }
      .login .congratulations {
        width: 100%;
        max-width: 400px;
        margin: auto;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        text-align: center;
        font-size: 18px;
        max-width: 400px; }
        .login .congratulations h2 {
          color: #065f46;
          font-size: 2.5rem; } }

form.form:not(.ui) .field {
  margin-bottom: 1rem; }

form.form:not(.ui) input {
  width: 100%;
  padding: .5rem 1rem;
  background: #8080801a;
  border-bottom: 2px solid #80808082;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; }
  form.form:not(.ui) input:focus, form.form:not(.ui) input:active {
    border-bottom: 2px solid gray; }
  form.form:not(.ui) input[type=submit] {
    width: auto;
    padding: .75rem 1.5rem;
    border: 0;
    border-radius: 0; }
  form.form:not(.ui) input:focus {
    outline: none; }
  form.form:not(.ui) input.icon {
    font-family: Icons; }
    form.form:not(.ui) input.icon.lock::before {
      content: "\f023"; }

main {
  padding: 1rem 0;
  display: flex;
  grid-gap: 1rem;
  flex-direction: column; }

.ui.grid.x {
  margin: 0; }

.ui.container {
  background-color: white; }

#content {
  min-height: 100px; }

.ui.grid {
  padding: 0 !important; }

.pushable.segment {
  margin: 0 !important; }

.splide {
  visibility: visible; }
  .splide .splide__slide {
    color: black; }
    .splide .splide__slide img {
      width: 100%;
      height: 100%; }
    .splide .splide__slide p {
      max-height: 125px;
      padding: 0.5rem;
      padding-bottom: 20px;
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 2px;
      bottom: 0;
      position: absolute;
      background: rgba(255, 255, 255, 0.75); }
    .splide .splide__slide:hover, .splide .splide__slide:active {
      color: black; }

.profil {
  display: flex;
  flex-flow: row wrap;
  position: relative; }
  .profil .picture {
    overflow: hidden;
    border-radius: 10px; }
  .profil .details {
    flex: 1;
    padding: 1rem; }
  .profil.over {
    width: 200px;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 10px; }
    .profil.over:hover .details {
      display: flex; }
    .profil.over .details {
      width: 100%;
      height: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0.7;
      background: white;
      text-align: center; }

/*# sourceMappingURL=common.css.map */