<div class="main">

    <div id="target__details" class="details">
        <h2 class="name mt-0">Name</h2>
        <h4 class="label mt-0">Label</h4>

        <i class="email icon envelope outline"></i><a href="">Email</a><br>

        <i class="icon map marker alternate"></i>Address 1<br>
        <i class="icon map marker alternate"></i>Address 2<br>
        <i class="icon map marker alternate"></i>Ville, Zip Code<br>

        <i class="icon mobile"></i>Téléphone portable<br>
        <i class="icon fax"></i>Téléphone fixe<br>
        <i class="icon fax"></i>Téléphone fax<br>
    </div>

    <div id="map" class="map openlayers"></div>
</div>
<!-- /Top Row -->

<!-- Gallery Row -->
<div class="gallery">
    <!-- <h3>Gallerie</h3> -->
    <div id="lightgallery" class="">
        <div class="shown w-full flex flex-row flex-wrap"></div>
        <div class="hidden"></div>
    </div>
</div>