.Memberships {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
    z-index: 0;
    position: relative;
    overflow: auto;
    
    .bg {
        width: 100vw;
        height: 100vh;
        
        top: 0;
        left: 0;
        z-index: 1;
        position: fixed;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .layout {
        width: 100%;
        min-height: 100vh;
        
        top: 0;
        left: 0;
        z-index: 2;
        position: absolute;
        
        display: flex;
        flex-direction: column-reverse;
        
        .top {
            top: 0;
            left: 0;
            z-index: 3;
            position: absolute;
            
            div {
                color: #065f46;
            }
        }
        
        .left {
            // width: 75%;
            padding: 1rem;
            
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: rgba(0, 61, 0, 0.8);
            
            & > div {
                color: #ffffffc7;
                font-size: 1.25rem;
                max-width: 800px;
                
                ul {
                    padding-left: 2rem;
                    
                    i.icon {
                        color: #ffff45;
                        margin-left: -2rem;
                    }
                }
                
                
                b { color: white; }
            }
        }
        
        .middle {
            width: 60%;
            margin: auto;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: rgba(148, 148, 148, 0.8);
            background-color: rgba(255, 255, 255, 0.8);
        }
        
        .right {
            width: 100%;
            padding-top: 6rem;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: rgba(148, 148, 148, 0.8);
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
    
    .congratulations {
        width: 100%;
        max-width: 400px;
        margin: auto;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        text-align: center;
        font-size: 18px;
        max-width: 400px;
        
        h2 {
            color: #065f46;
            font-size: 2.5rem;
        }
    }

    @media (min-width: 640px) {
    }
    
    @media (min-width: 768px) {}
    
    @media (min-width: 1024px) {
        .layout {
            flex-flow: row wrap;
            
            .top {
                div { color: white; }
            }
        
            .right {
                width: 35%;
                padding-top: 0;

                .fields {
                    grid-gap: .5rem;
                    flex-direction: column;

                    .field { width: 100%; }
                }
            }
        }
    }

    @media (min-width: 1280px) {
        .layout {
            .right {
                .fields {
                    // grid-gap: .5rem;
                    flex-direction: row;

                    .field {
                        width: fit-content;
                        width: -webkit-fill-available;
                    }
                }
            }
        }
    }
}

.Profil {
    min-height: calc(100vh - 5rem);
    background-color: rgba(0, 0, 0, 0.1);
    
    /*
        COMPONENTS
    */

    .ui.header {
        padding: 0;
    }
    
    .menu {
        margin-top: 1rem;
        background-color: white;
        
        .list {
            border: 1px solid rgba(gray, .3);
            
            a {
                padding: 0.75rem;
                display: block;
                border-bottom: 1px solid rgba(gray, .3);
                
                &:hover {
                    color: #065f46;
                }
            }
            
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .criticals {
        padding-top: 1rem;
        .header { padding: 0; }
    }

    section {
        padding: 1rem;
        background-color: white;
        
        &.message {
            &.lightgreen { background-color: #49951d9c; }
            &.lightbrown { background-color: #523303bd; }

            p {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }

    article {
        & > .header {
            padding: 1rem 0;
        }
    }

    .message {
        .header {
            padding-top: 0;
            padding-bottom: .5rem;

            
        }
    }

    .ui.card {
        .header {
            padding: 0;
        }
    }

    /*
        PAGES
    */

    .dashboard {
        &.family {
            .ui.sub.header {
                font-size: 1.2rem;
            }
        }

        &.application {
            .ui.sub.header {
                font-size: 1.2rem;
            }
        }
    }

    .profil {
        // margin-top: 1rem;
        // padding-top: 0;

        & form > h3 {
            padding-top: 0;
        }
    }

    .applications {
        padding: 0;
        background-color: transparent;

        .header {
            button {
                float: right;
                background-color: #e0e1e2;
            }
        }

        .description {
            margin-bottom: 1rem;
        }

        .condition {
            display: none;
        }

        .children {
            label.signed { color: #389900; }
        }
    }

    .children {
        .card .header .first_name {
            text-transform: capitalize;
        }

        .ui.two.buttons {
            a,
            a:hover,
            a:focus,
            a:visited {
                color: inherit;
            }
        }
    }

    .cotisations {
        .cotisation {
            background-color: transparent;

            .header {
                padding-top: 0;
            }

            & > .ui.cards .ui.card {
                .image {
                    img {
                        max-height: 250px;
                        object-fit: cover;
                    }
                }
    
                // PLANS
                .plans.ui.cards {
                    padding: 1rem;
                    display: inherit;
    
                    .card {
                        width: 250px;

                        .date { display: none; }
                        .price { display: inline; }

                        .icon.add { display: inline; }
                        .icon.check { display: none; }

                        &.bought {
                            a {
                                color: white;
                                background-color: #5dbd26;
                            }

                            .date { display: inline; }
                            .price { display: none; }

                            .icon.add { display: none; }
                            .icon.check { display: inline; }
                        }
                    }
                }

                // PAYMENT
                .payment {
                    margin: 1rem;

                    display: none;
                    grid-gap: .5rem;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        font-weight: bold;
                    }

                    a {
                        color: white;
                        background-color: #5dbd26;
                    }

                    .icon {
                        font-size: 1.75rem;
                        &.credit::before { content: "\f09d"; }
                    }

                    &.active { display: flex; }
                }

                .documents {
                    margin: 1rem;

                    display: none;
                    grid-gap: .5rem;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;

                    &.active { display: flex; }
                }

                // Extra
                .footer {
                    padding: .5rem 1rem;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span.bought { color: #5dbd26; }

                    a.buy { color: white; background-color: #5dbd26; }
                    
                    i.icon.credit::before { content: "\f09d"; }
                }

                &.active {
                    .plans.ui.cards { display: inherit; }
                }
            }

            &.past {
                .extra.content {
                    display: none;
                }
            }

            &.active {}
        }
    }

    .documents {
        .search {
            .searchtags {
                .ui.label {
                    opacity: .6;
                    margin-bottom: .25rem;
                    
                    &.active {
                        opacity: .8;
                    }
                }
            }
        }

        .ui.stackable.cards {
            // justify-content: space-between;

            .ui.card {
                width: 260px;
                display: none;

                .ui.label {
                    opacity: .8;
                    margin-bottom: .25rem;
                }

                &.hidden {
                    display: none;
                }
                &.active {
                    display: flex;
                }
            }
        }
    }

    &.wide {
        .ui.container {
            padding: 1rem;
            overflow: hidden;
            width: 100%;
        }
    }

    .admin {
        &.members {
            section.list {
                overflow: auto;

                table {
                    width: max-content;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        min-height: calc(100vh - 8rem);
    }
}

.ui.form {
    .xsearch {
        padding: .67857143em 2.1em .67857143em 1em;
        line-height: 1.21428571em;
        z-index: 2;
        position: absolute;
    }
}

.ui.modal.application {
    .condition {
        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            line-height: 25px;
        }
    }
}