/// Moved to SRC

// @use '../../../vendor/semantic/semantic.min.css' as semantic;
@use '../../../vendor/semantic/components/icon.min.css' as semantic;

$green-500: #5dbd26; // 45
$green-600: #49951d; // 35
$green-700: #3f8019; // 30
$green-800: #346a15; // 25
$green-900: #2a5511; // 20

$yellow-500: #edee3b;
$yellow-600: #bcbc10; // 40

$nav-height-full: 8rem;
$nav-height-responsive: 5rem;

body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;

    @media (max-width: 767px) {
        & {
            // overflow: auto;
        }   
    }
}

/////// FIXES
.ui.container {
    &.transparent {
        background-color: transparent;
    }
}

/////// CORE

nav {
    background-color: $green-600;

    &.computer {
        height: $nav-height-full;

        &.row { padding: 0; }
        
        z-index: 1;
        position: relative;
        // background-color: #48bb78;
        
        &::before {
            width: calc(((100vw - 1127px) / 2) + (1127px * 0.33));
            height: 100%;
            
            content: "";
            z-index: -1;
            position: absolute;
            clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
            background-color: white;
        }

        .ui.container {
            background-color: transparent;

            a {
                cursor: pointer;

                &.name {
                    &:hover { color: inherit; }
                    &:active { color: inherit; }
                    &:visited { color: inherit; }
                }
            }
 
            i.icon {
                line-height: 100%;
    
                &.phone { transform: rotate(90deg); }
            }
            
            .green-500 {
                background-color: $green-500;
            }
            
            .green-800 {
                background-color: $green-800;
            }
            
            .top {
                .item {
                    &:hover { color: $green-900; }
                }
            }
            
            .bottom {
                & > div {
                    & > a,
                    & > div {
                        line-height: 3.5rem;
    
                        &:hover { color: $green-800; }
                    }
                }

                .green-800:hover {
                    color: white;
                    background-color: $green-600;
                }
            }

            .brown {
                background-color: #523303;
                &:hover {
                    color: white !important;
                    background-color: #85540a;
                }
            }

            .item {
                &.hidden { display: none; }
            }

            .menu {
                .item {
                    cursor: pointer;

                    &.hidden { display: none; }

                    &:hover {
                        color: #006141;
                    }

                    .highlights {

                    }
                }

                .submenu {
                    .item {                        
                        &:hover {
                            color: #10b981;
                        }
                    }
                }

                .ui.dropdown {
                    display: inherit;
        
                    .menu {
                        border-radius: 0;
    
                        .item {
                            color: rgba(16,185,129,1);
                            color: #006141;
                            font-weight: bold;
                            text-transform: uppercase;
    
                            &:hover {
                                color: white;
                                background: rgba(16,185,129,1);
                            }
                        }
                    }
                }
            }
        }

    }

    &.responsive {
        display: none;
        background-color: white;
        
        #mobile_item {
            order: 3;
        }

        .menu {
            .item {
                &.hidden { display: none; }
            }

            i.icon {
                &.bars {
                    margin: 0 1rem;
                    font-size: 2rem;
                    line-height: $nav-height-responsive;
                }
            }
        }
    }

    &.sidebar {
        .green-500 {
            background-color: $green-500;
        }

        .item {
            text-align: center;
            &::before {
                height: 0;
            }
        }

        
        .top {
            .item {
                color: white;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;

                &:focus { color: white; } 
                &:hover { color: white; } 
                &:active { color: white; } 
                &:visited { color: white; }

            }

            .menu {
                .item {
                    color: rgba(0,0,0,.5);
                    &:hover {
                        color: rgba(0,0,0,.5);
                    }
                }
            }

            div.item {                
                & > .menu {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0s, visibility 0.5s linear;

                    margin-top: 13px !important;
                    margin-bottom: -1rem !important;

                    background-color: white;    

                    .item {
                        padding: 1rem;
                    }

                    &.active {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        
        .bottom {
            .item {
                &::before {
                    height: 0 !important;
                }

                & > i.icon { float: left !important; }
            }
        }
    }

    @media (max-width: 1024px) {
        &.computer {
            display: none;
        }

        &.responsive {
            display: inherit;
        }
    }
    @media (max-width: 1199px) {
        &.computer {
            &::before {
                background-color: transparent;
            }

            .ui.container {
                width: 100%;
                color: white;

                .item.blank {
                    display: none;
                }
            }
        }
    }
}

.ui.pushable {
    height: calc(100vh - 8rem);
    overflow: hidden;
    // border: 0 !important;
    box-sizing: content-box;

    .pusher {
        height: 100%;
        overflow: auto;

        &.dimmed {
            overflow: hidden;
        }
    }
    
    @media (max-width: 1024px) {
        & { height: calc(100vh - 5rem); }   
    }
}

section {
    width: 100%;
    margin: 0rem 0;
    // display: inline-block;
}

/*  //////
    WIDGETS 
    ////// */

.home.front {
    min-height: calc(100vh - 5rem);
    
    z-index: 100;
    overflow: hidden;
    position: relative;
    
    .filter {
        width: 100%;
        height: 100%;
        background-color: black;

        top: 0;
        left: 0;
        z-index: 101;
        position: absolute;
    }

    .bg {
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        z-index: 102;
        position: relative;
        
        img {
            width: 100%;
            height: 100%;

            opacity: .5;
            object-fit: cover;
        }

        &.purple { background-color: #523303; }
    }

    .top.banner {
        width: 100%;
        padding: 0rem;
        
        text-align: center;
        
        // top: 0;
        // left: -200px;
        z-index: 103;
        position: relative;
        
        border-bottom: 5px solid white;
        background-color: $green-500;

        span {
            font-family: 'Roboto', sans-serif;
        }
        
        .join {
            color: white;
            font-size: 2rem;
            letter-spacing: 5px;
        }
        hr {
            margin: 0rem 4rem;
            border-color: $yellow-500;
            border-width: 3px;
            background-color: $yellow-500;
        }
        .upem {
            color: $yellow-500;
            font-size: 3.5rem;
            font-weight: bold;
            letter-spacing: 15px;
            text-transform: uppercase;
        }
    }

    .bottom.banner {
        width: 100%;
        padding: 1rem;

        border-top: 5px solid white;
        background-color: $green-500;

        left: 0;
        bottom: 0;
        z-index: 103;
        position: absolute;

        text-align: center;
        font-family: 'Roboto', sans-serif;

        display: flex;
        // align-items: center;
        flex-direction: column;
        // justify-content: center;

        span {}
        
        .intro {
            color: $yellow-500;
            font-size: 1.5rem;
            
            .sy {
                color: #176e6b;
                display: block;
                font-size: 2rem;
                font-weight: bold;
            }
        }
        
        .slogan {
            .icon { color: $yellow-500; }
            
            color: white;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    .content {
        color: white;

        top: 0;
        left: 0;
        z-index: 103;
        position: relative;   
    }
    
    .ui.container {
        background-color: transparent;

        h1 {
            color: white;
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    @media (min-width: 768px) {
        .bg {
            position: absolute;
        }
        .top.banner {
            .join { font-size: 2.5rem; }
            hr {
                margin: 0 auto;
                width: 300px;
            }
        }
        .bottom.banner {
            padding: 2rem;
            .intro {
                .sy { display: inline; }
            }
            // .intro {
            //     font-size: 2rem;
            // }
            // .slogan {
            //     font-size: 4rem;
            // }
        }
    }

    @media (min-width: 1024px) {
        min-height: calc(100vh - 8rem);

    }

    @media (min-width: 1280px) {
        .bottom.banner {
            padding: 1rem;
            .intro {
                font-size: 2.5rem;
                .sy { font-size: 3rem; }
            }
            .slogan {
                font-size: 4rem;
            }
        }
    }

    @media (min-width: 159936px) {
        height: calc(100vh - 8rem);
        padding: 3rem;

        .bg {
            position: absolute;
        }

        .top.banner {
            width: 1000px;
            min-height: 20rem;
            margin-top: 2rem;
            padding-left: 200px;
            
            left: -200px;
            position: absolute;
            transform: rotate(10deg);
            
            border: 5px solid white;
            border-radius: 15px;

            span {
                text-transform: uppercase;
            }
            
            .join {
                font-size: 6rem;
            }
            hr {
                width: auto;
            }
            .upem {
                font-size: 8rem;
            }
        }

        .bottom.banner {
            min-height: 20rem;
            padding: 5rem;

            border-top: 5px solid white;
            background-color: $green-500;

            left: 0;
            bottom: 0;
            z-index: 103;
            position: absolute;

            text-align: center;
            font-family: 'Roboto', sans-serif;

            display: flex;
            // align-items: center;
            flex-direction: column;
            // justify-content: center;

            span {}
            
            .intro {
                color: $yellow-500;
                font-size: 2.5rem;

                .sy {
                    color: #176e6b;
                    font-size: 3rem;
                    font-weight: bold;
                }
            }
            
            .slogan {
                .icon { color: $yellow-500; }
                
                color: white;
                font-size: 5rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }

        .content {
            color: white;

            top: 0;
            left: 0;
            z-index: 103;
            position: relative;   
        }
        
        .ui.container {
            background-color: transparent;

            h1 {
                color: white;
                font-size: 2.5rem;
                font-weight: bold;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
    }
}

.banner.page {
    padding: 3rem;
    
    z-index: 100;
    overflow: hidden;
    position: relative;

    &.full.page {
        height: calc(100vh - 8rem);
    }
    
    .filter {
        width: 100%;
        height: 100%;
        background-color: black;

        top: 0;
        left: 0;
        z-index: 101;
        position: absolute;
    }

    .bg {
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        z-index: 102;
        position: absolute;
        
        img {
            width: 100%;
            height: 100%;

            opacity: .5;
            object-fit: cover;
        }

        &.black { background-color: black; }
        &.purple { background-color: #523303; }
        &.darkgray { background-color: rgb(13, 13, 13); }
    }

    .ui.container {
        color: white;
    
        top: 0;
        left: 0;
        z-index: 103;
        position: relative;   

        background-color: transparent;
    }
}

.uix.header {
    padding: 1rem 0;
    
    color: #065f46;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;    
    
    .subheader {
        color: rgba(0, 0, 0, .87);
        margin-top: 1rem;
        
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        text-transform: none; 
    }

    &.white { color: white; } 
    &.lightgray {
        color: rgb(179, 179, 179);
        .subheader { color: rgb(179, 179, 179); }
    }
    
    &.centered {
        text-align: center;
        .subheader { text-align: center; }
    }
}
h1.uix.header {
    padding: 1.5rem 0;
    font-size: 3rem;
    .subheader { font-size: 2.5rem; }
}
h2.uix.header {
    padding: 1.5rem 0;
    font-size: 2rem;
    .subheader { font-size: 2.5rem; }
}
h3.uix.header {
    padding: 1rem 0;
    font-size: 1.5rem;
    .subheader { font-size: 2rem; }
}
h4.uix.header {
    padding: 1rem 0;
    font-size: 1rem;
    .subheader { font-size: 1.5rem; }
}

.aboutpage {
    @media (max-width: 1024px) {
        .page.banner {
            padding: 1rem;

            .uix.header {
                font-size: 2.25rem;
            }
        }

        .container {
            width: auto;
            padding: 0 1rem;
        }
    }

    @media (max-width: 768px) {
        .page.banner {
            padding: 1rem;
    
            .uix.header {
                font-size: 1.25rem;
            }
        }
    }

    .history.image {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

.highlights {
    padding: 2rem 0;

    .tile {
        padding: 0rem;
        flex-direction: column;
    }

    &.four {

        .tile {
            height: 100%;

            display: flex;
            grid-gap: 1rem;

            * {
                text-align: center;
            }

            .image {
                img {
                    width: 125px;
                    height: 125px;
                    margin: auto;

                    border: 2px solid gray;
                    border-radius: 50%;
                }

                i.icon {
                    --icon-size: 75px;
                    width: var(--icon-size);
                    height: var(--icon-size);

                    color: #044c38;
                    font-size: 2rem;
                    line-height: var(--icon-size);

                    border: 2px solid #044c38;
                    border-radius: 50%;
                    background-color: #098663;
                }
            }

            .title {
                font-size: 1.5rem;
            }

            .content {}
        }
    }

    &.list {

        .ui.container {
            background-color: transparent;
        }

        .tile {
            height: 100%;

            display: flex;
            grid-gap: 1rem;
            align-items: center;
            justify-content: center;

            color: white;

            .image {
                width: auto;

                img {
                    --image-size: 75px;
                    width: var(--image-size);
                    height: var(--image-size);
                    margin: auto;
    
                    border: 2px solid gray;
                    border-radius: 50%;
                }
                
                i.icon {
                    --icon-size: 75px;
                    width: var(--icon-size);
                    height: var(--icon-size);

                    color: #044c38;
                    font-size: 2rem;
                    line-height: var(--icon-size);

                    border: 2px solid #044c38;
                    border-radius: 50%;
                    background-color: #098663;
                }
            }

            .right {
                flex: 1;

                .title {
                    color: #10b981;
                    font-size: 1.5rem;
                }
    
                .content {}
            }
        }
        
        // Variant
        &.light {
            color: white;
        }
    }

    @media (min-width: 768px) {
        padding: 3rem;

        .tile {
            padding: 1rem;
        }

        &.list {
            .tile {
                flex-flow: row nowrap;
            }
        }
    }

    @media (min-width: 1024px) {
    }

    @media (min-width: 1280px) {
    }
}

.quote {
    padding: 0rem;

    display: flex;
    grid-gap: 1rem;
    flex-flow: column nowrap;
    justify-content: center;

    .left {
        .icon.left {
            color: $yellow-500;

            padding: 0;
            font-size: 4rem;
            line-height: 100%;
        }
    }

    blockquote {
        max-width: 700px;

        font-size: 1.25rem;
        font-weight: bold;

        display: flex;
        grid-gap: 1rem;
        flex-direction: column;

        .author {
            text-align: right;

            span { color: $yellow-500; }
        }
    }

    @media (min-width: 768px) {
        padding: 1rem;
        flex-flow: row nowrap;
    }
}

// Who Are We Organigram
.organization {
    &.splide {
        padding: 1rem 0;
        
        .ui.cards .card {
            .header {
                text-align: center;
                .first_name {
                    text-transform: capitalize;
                }
            }
            
            .meta {
                text-align: center;
                font-weight: bold;

                &.president a {
                    color: #591414;
                }
            
                &.vicepresident a {
                    color: #218380;
                }
            
                &.administrator a {
                    color: $yellow-600;
                }
            
                &.employee a {
                    color: $green-500;
                }
            }
        }
    }

    .legends {
        padding: 1rem .5rem 0 .5rem;

        .item {
            font-size: 1.5rem;
            font-weight: bold;

            &::before {
                content: "";

                width: 2.5rem;
                border: 3px solid;
                display: inline-block;
                border-radius: 5px;
                vertical-align: middle;
            }
        }
    }
    
    
    // Color variants

    // .president {
    //     &.item {
    //         color: #591414;
    //         &::before { border-color: #591414; }
    //     }
    //     &.card { border: 3px solid #591414; }
    //     &.meta { color: #591414; }
    // }

    // .vicepresident {
    //     &.item {
    //         color: #218380;
    //         &::before { border-color: #218380; }
    //     }
    //     &.card { border: 3px solid #218380; }
    //     &.meta { color: #218380; }
    // }

    // .administrator {
    //     &.item {
    //         color: $yellow-500;
    //         &::before { border-color: $yellow-500; }
    //     }
    //     &.card { border: 3px solid $yellow-500; }
    //     &.meta { color: $yellow-500; }
    // }

    // .employee {
    //     &.item {
    //         color: $green-500;
    //         &::before { border-color: $green-500; }
    //     }
    //     &.card { border: 3px solid $green-500; }
    //     &.meta { color: $green-500; }
    // }
}

.history.richtext {
    h1, h2, h3, h4 {
        padding: 1rem 0;
        
        color: #065f46;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;    
        
        .subheader {
            color: rgba(0, 0, 0, .87);
            margin-top: 1rem;
            
            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            text-transform: none; 
        }
    
        &.white { color: white; } 
        &.lightgray {
            color: rgb(179, 179, 179);
            .subheader { color: rgb(179, 179, 179); }
        }
        
        &.centered {
            text-align: center;
            .subheader { text-align: center; }
        }
    }
    h1 {
        padding: 1.5rem 0;
        font-size: 3rem;
        .subheader { font-size: 2.5rem; }
    }
    h2 {
        padding: 1.5rem 0;
        font-size: 2rem;
        .subheader { font-size: 2.5rem; }
    }
    h3 {
        padding: 1rem 0;
        font-size: 1.5rem;
        .subheader { font-size: 2rem; }
    }
    h4 {
        padding: 1rem 0;
        font-size: 1rem;
        .subheader { font-size: 1.5rem; }
    }
}

// Homepage newsletter form
.newsletter {
    &.columns {
        z-index: 100;
        position: relative;

        & > div {
            width: 100%;
            height: 100%;

            top: 0;
            left: 0;
        }
        
        .left {
            padding: 1rem;
            z-index: 102;
            position: relative;
        }
        
        .right {
            z-index: 101;
            position: absolute;
            opacity: 0.2;
            // background: black;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    @media (min-width: 768px) {
        &.columns {
            display: flex;
            flex-flow: row nowrap;
            position: relative;
    
            & > div {
                width: 50%;
                padding: 1rem;
            }
            
            .left {
            }
            
            .right {
                position: relative;
            }
        }
    }
}

// Login Page Section
.login {
    min-height: calc(100vh - 5rem);
    background-color: $green-500;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-height: 1px) {
        min-height: calc(100vh - 8rem);

        .form {
            width: 100vw;
            max-width: 400px;
            margin: 1rem;
            padding: 1.5rem 1rem;
            background-color: rgba(white, .9);

            .ui.error.message {
                margin-top: 0;
                .header { padding: 0; }
            }

            .field {
                // Email & Password Common
                &.email,
                &.password {
                    display: flex;
                    position: relative;
                    align-items: center;

                    span {
                        padding: 0 .75rem;
                        position: absolute;
                        font-size: 1.25rem;
                        font-family: Icons;
                        line-height: 100%;
                    }

                    input {
                        padding-left: 2.5rem;
                    }
                }

                &.email span::before {
                    content: "\f007";
                }

                &.password span::before {
                    content: "\f023";
                }

                // Forgot & Signup common
                &.forgot,
                &.signup {
                    text-align: center;
                }
    
                &.forgot a {
                    &:hover, &:visited {
                        color: rgb(6, 96, 70);
                    }
                }
    
                &.signup a {
                    color: rgb(6, 96, 70);
                    font-size: 18px;
                }
            }

        }

        .congratulations {
            width: 100%;
            max-width: 400px;
            margin: auto;
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            text-align: center;
            font-size: 18px;
            max-width: 400px;

            h2 {
                color: #065f46;
                font-size: 2.5rem;
            }
        }
    }
}

// TODO Latter
form.form:not(.ui) {
    .field {
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        padding: .5rem 1rem;
        background: #8080801a;
        border-bottom: 2px solid #80808082;
        
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        
        &:focus,
        &:active {
            border-bottom: 2px solid gray;
        }
        
        &[type=submit] {
            width: auto;
            padding: .75rem 1.5rem;
            border: 0;
            border-radius: 0;
        }

        &:focus {
            outline: none;
        }

        // Icons
        &.icon {
            font-family: Icons;
            &.lock::before { content: "\f023"; }
        }
    }
}


main {
    padding: 1rem 0;
    
    display: flex;
    grid-gap: 1rem;
    flex-direction: column;
}

.ui.grid.x { margin: 0; }


.ui.container {
    background-color: white;
}

#content {
    min-height: 100px;
}
.ui.grid{
    padding: 0 !important;
}
.pushable.segment{
    margin: 0 !important;
}


.splide {
    visibility: visible;
    
    .splide__slide {
        color: black;
        
        img {
            width: 100%;
            height: 100%;
        }
        
        p {
            max-height: 125px;
            padding: 0.5rem;
            padding-bottom: 20px;
            
            color: rgba(0, 0, 0, .8);
            letter-spacing: 2px;
            
            bottom: 0;
            position: absolute;
            background: rgba(white, .75);
        }
        
        &:hover,
        &:active {
            color: black;
        }
    }
    
}

.profil {
    display: flex;
    flex-flow: row wrap;
    
    position: relative;
    
    .picture {
        overflow: hidden;
        border-radius: 10px;
    }
    
    .details {
        flex: 1;
        padding: 1rem;
        
    }
    
    &.over {
        width: 200px;
        
        overflow: hidden;
        border: 2px solid gray;
        border-radius: 10px;       
        
        &:hover {
            .details { display: flex; }
        }
        
        .details {
            width: 100%;
            height: 100%;
            
            display: none;
            flex-direction: column;
            justify-content: center;
            
            top: 0;
            left: 0;
            position: absolute;
            
            opacity: 0.7;
            background: white;
            
            text-align: center;
        }   
    }
}

