{% extends 'memberships/profile_base.html' %}
{% load static wagtailcore_tags memberships_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/memberships/memberships.css' %}">
<link rel="stylesheet" href="{% static 'vendor/simplePagination/simplePagination.css' %}">
{% endblock extra_css %}

{% block profil_class %}wide{% endblock %}

{% block articles %}
<article class="admin members">
    <h3 class="uix header">Administration: Membres</h3>
    
    <section class="search mb-4">
        <div class="searchbars mb-4">
            {% with GET=request.GET %}
            <form class="ui form" action="#">
                <div class="fields">
                    <div class="field">
                        <input 
                            type="text" 
                            name="names" id="s_names" 
                            value="{{ GET.names }}" placeholder="Parent: Nom, Prénom">
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            id="s_email" name="email" 
                            value="{{ GET.email }}" placeholder="Email">
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown" id="con_status">
                            <input type="hidden" name="con_status" id="s_con_status">
                            <i class="dropdown icon"></i>
                            <div class="default text">Cotisation</div>
                            <div class="menu">
                                <div class="item" data-value="DEFAUT">Adhérant: DEFAUT</div>
                                <div class="item" data-value="OUI">Adhérant: OUI</div>
                                <div class="item" data-value="NON">Adhérant: NON</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="contribution" id="s_contribution">
                            <label>Cotisation active ?</label>
                        </div>
                    </div> -->
                </div>
                <div class="fields">
                    <div class="field">
                        <input 
                            type="text" 
                            id="s_children_names" name="children_names" 
                            value="{{ GET.children_names }}" placeholder="Enfant: Nom, Prénom">
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            id="s_school_name" name="school_name" 
                            value="{{ GET.school_name }}" placeholder="Enfant: Ecole">
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown" id="app_status">
                            <input type="hidden" name="app_status" id="s_app_status">
                            <i class="dropdown icon"></i>
                            <div class="default text">Candidature</div>
                            <div class="menu">
                                <div class="item" data-value="DEFAUT">Candidat: DEFAUT</div>
                                <div class="item" data-value="OUI">Candidat: OUI</div>
                                <div class="item" data-value="NON">Candidat: NON</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown" id="grade">
                            <input type="hidden" name="grade" id="s_grade">
                            <i class="dropdown icon"></i>
                            <div class="default text">Classe</div>
                            <div class="menu">
                                {% for key, value in grades.items %}
                                <div class="item" data-value="{{ key }}">{{ key }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="field">
                        <button class="ui button blue" id="s_submit">Rechercher</button>
                    </div>

                    <div class="field">
                        <a class="ui button green" onclick="extraction('dl/')">Télécharger TOUT</a>
                    </div>

                    <div class="field">
                        <a class="ui button green" onclick="extraction('dl-filtre/')">Télécharger FILTRE</a>
                    </div>

                    <div class="field">
                        <a class="ui button green" onclick="extraction('dl-page/')">Télécharger PAGE</a>
                    </div>
                </div>

            </form>
            {% endwith %}
        </div>
        <div class="searchtags">
            
        </div>
    </section>
    
    {% if page_obj %}

        {% admin_members_list %}
        
        <div class="ui basic segment" id="pagination">
        </div>
    {% endif %}
</article>
{% endblock articles %}

{% block profile_js %}
<script src="/static/vendor/simplePagination/simplePagination.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
        
    const parameters = {
        page:           urlParams.get('page') || '1',

        names:          urlParams.get('names') || '',
        email:          urlParams.get('email') || '',
        
        children_names: urlParams.get('children_names') || '',
        
        grade:          urlParams.get('grade') || '',
        school_name:    urlParams.get('school_name') || '',
    };

    function buildURL (page='') {
        let url = '';

        for (const p in parameters) {
            if (p === 'page' && page) url += `&page=${page}`;
            else url += `&${p}=${parameters[p]}`;
        }

        if (url) url = url.replace('&', '?');
        
        return url;
    }

    function extraction (base_url) {
        window.location.href = base_url + buildURL();
    }

    // Init Dropdowns
    $(function () {
        function initDropdown (id, value) {
            
            console.log(value)

            if (value) {
                const dropdown = document.getElementById(id);
                const option = dropdown.querySelector(`.item[data-value="${value}"]`);
    
                console.log (option);
                
                if (option) {
                    dropdown.querySelector('input').value = value;
                    const text = dropdown.querySelector('.text');
                    text.classList.remove('default');
                    text.innerHTML = option.innerHTML;
                }
    
                // Extra
                // select.addEventListener('change', () => {
                //     console.log('Hello');
                // });
            }
        }

        initDropdown(
            'con_status',
            '{{ request.GET.con_status|default:"DEFAUT" }}'
        );

        initDropdown(
            'app_status',
            '{{ request.GET.app_status|default:"DEFAUT" }}'
        );
        
        initDropdown(
            'grade',
            '{{ request.GET.grade|default:"Défaut" }}'
        );
    });

    $(function () {

        $('#pagination').pagination({
            pages: {{ page_obj.paginator.num_pages }},
            prevText: 'Préc',
            nextText: 'Suiv',
            currentPage: {{ page_obj.number }},
            onPageClick: function(page, event) {
                console.log(page);
    
                window.location.href = `?page=${buildURL(page)}`;
            }
        });
        
        function batchEvents () {
            const inputs = [
                's_names',
                's_email',
                's_children_names',
                's_school_name',
                // 's_grade',
            ];
            
            for (const id of inputs) {
                document.getElementById(id).addEventListener('input', (e) => {
                    const target = e.target;
                    console.log (target);
                    
                    const name = target.getAttribute('name');
                    parameters[name] = target.value;
                });
            }
        }
        
        /** 
         * CORE
         */

        // TEST purpose
        console.log(buildURL());
        console.log(buildURL(3));
        
        console.log( parameters);

        batchEvents();
    });
</script>
{% endblock profile_js %}
