{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}profilpage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/memberships/memberships.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="Profil {% block profil_class %}{% endblock %}">
    <div class="ui container transparent py-4">        
        {% block top_side %}
        {% endblock %}
        
        <div class="ui stackable two column grid">
            <div class="four wide column">
                {% block left_side %}
                <div class="menu">
                    <div class="list">
                        <a href="/mon-profil/dashboard">Vue d'ensemble</a>
                        <a href="/mon-profil/compte">Mon profil</a>
                        <a href="/mon-profil/mes-enfants">Mes enfants</a>
                        <a href="/mon-profil/mes-cotisations">Mes cotisations</a>
                        <a href="/mon-profil/candidatures">Mes candidatures </a>
                        <!-- <a href="">Mes dons</a> -->
                        <a href="/mon-profil/documents">Documents</a>
                        {% if user.is_superuser %}
                        <a href="/mon-profil/listes-membres">Administration</a>
                        <a href="/mon-profil/listes-electorales">Listes électorales</a>
                        {% endif %}
                        <a class="logout" href="/deconnexion">Déconnexion</a>
                    </div>
                </div>
                
                {% block extra_left_side %}
                {% endblock extra_left_side %}
                
                {% endblock left_side %}
            </div>
            
            <div class="twelve wide column">
                {% if criticals %}
                <div class="criticals">
                    <div class="ui negative message">
                        <div class="header">
                            Une ou plusieurs erreurs sont survenues.
                        </div>
                        <ul class="list">
                            {% for error in criticals %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                {% else %}
                
                {% block articles %}
                <article>
                    <h3 class="uix header">Bonjour, Arnaud ANGELY</h3>
                </article>
                {% endblock articles %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
{% block profile_js %}
{% endblock profile_js %}
{% endblock extra_js %}