{% extends 'memberships/base.html' %}
{% load static wagtailcore_tags wagtailuserbar %}

{% block alt_title %}
Inscription
{% endblock %}

{% block layout_class %}registration{% endblock %}

{% block layout %}
<div class="top">
    <a href="/" class="p-4 flex flex-nowrap">
        <img src="/media/demo/android-chrome-256x256.png" alt="" class="h-24 p-2 flex-1">
        <div class="px-2 flex flex-col items-center justify-center uppercase text-white">
            <div class="text-3xl mb-2">UPEM</div>
            <div class="text-center">Affaires scolaires</div>
        </div>
    </a>
</div>

<div class="left">
    <div>
        Plus vous participer à la vie de l’école, plus vous augmentez les chances de réussite de vos enfants.
        <br>
        <br>
        <b>En adhérant à l’UPEM, vous choisissez une association démocratique, dynamique et
        enracinée en Martinique qui :</b>
        <br>
        <br>
        <ul>
        <ol><i class="icon sun outline"></i> <b>Est écoutée</b> au niveau du Rectorat et de toutes les instances concernées par l’école,</ol>
        <ol><i class="icon sun outline"></i> <b>Soutient</b> le développement des aptitudes et talents des élèves en vue d’une société meilleure,</ol>
        <ol><i class="icon sun outline"></i> <b>Revendique</b> notre identité culturelle et l’ouverture sur le monde,</ol>
        <ol><i class="icon sun outline"></i> <b>Fonctionne</b> selon un mode décentralisé par établissement et harmonisé sur la Martinique,</ol>
        <ol><i class="icon sun outline"></i> <b>Vous permet</b> d’intégrer une équipe de bénévoles dynamiques et engagés qui œuvre pour le bien–être et la réussite des enfants,</ol>
        <ol><i class="icon sun outline"></i> <b>Vous accompagne</b> avec des sessions de formations,</ol>
        <ol><i class="icon sun outline"></i> <b>Participe</b> auprès des instances à une gestion concertée et stricte de la crise sanitaire</ol>
    </ul>
    
    
    <!-- Plus vous participer à la vie de l’école, plus vous augmentez les chances de réussite de vos enfants.
        
        En adhérant à l’UPEM, vous choisissez une association démocratique, dynamique et
        enracinée en Martinique qui : -->

        <!-- <li><i class="icon sun outline"></i><b>Etre écouter</b> au niveau du Rectorat et de toutes les instances concernées par l’école</li>
        <li><i class="icon sun outline"></i><b>Soutenir</b> le développement des aptitudes et talents des élèves en vue d’une société meilleure</li>
        <li><i class="icon sun outline"></i><b>Revendiquer</b> notre identité culturelle et l’ouverture sur le monde</li>
        <li><i class="icon sun outline"></i><b>Fonctionner</b> selon un mode décentralisé par établissement et harmonisé sur la Martinique</li>
        <li><i class="icon sun outline"></i><b>Intégrer</b> une équipe de bénévoles dynamiques et engagés qui œuvre pour le bien–être et la réussite des enfants</li>
        <li><i class="icon sun outline"></i><b>Etre accompagner</b> avec des sessions de formations</li>
        <li><i class="icon sun outline"></i><b>Participer</b> auprès des instances à une gestion concertée et stricte de la crise sanitaire</li> -->
    </div>
</div>

<div class="right flex flex-col">
    <form class="ui form w-full p-4" action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        <h2 class="uix header centered">Créer votre compte</h2>

        <div class="field">
            <label class="ui dividing header">Noms</label>
            <div class="two fields">
                <div class="field {% if member_form.last_name.errors %}error{% endif %}">
                    <input 
                        type="text" 
                        name="last_name" 
                        placeholder="Nom" 
                        class="uppercase"
                        value="{{ member_form.last_name.value|default:'' }}">
                    {{ member_form.last_name.errors }}
                </div>
                <div class="field {% if member_form.first_name.errors %}error{% endif %}">
                    <input 
                        type="text" 
                        name="first_name" 
                        placeholder="Prénom" 
                        class="capitalize"
                        value="{{ member_form.first_name.value|default:'' }}">
                    {{ member_form.first_name.errors }}
                </div>
            </div>
        </div>

        <div class="field">
            <div class="two fields">
                <div class="field {% if auth_form.email.errors %}error{% endif %}">
                    <label for="email">Email</label>
                    <input 
                        id="email" 
                        type="email" 
                        name="email" 
                        placeholder="Email"
                        class="lowercase"
                        value="{{ auth_form.email.value|default:'' }}">
                    {{ auth_form.email.errors }}
                </div>

                <div class="field {% if member_form.job.errors %}error{% endif %}">
                    <label for="job">Profession</label>
                    <input 
                        id="job" 
                        type="text" 
                        name="job" 
                        placeholder="Profession"
                        class="capitalize"
                        value="{{ member_form.job.value|default:'' }}">
                    {{ member_form.job.errors }}
                </div>
            </div>
        </div>
        
        <div class="field">
            <label class="ui dividing header">Mots de passe</label>
            <div class="two fields">
                <div class="field {% if auth_form.password1.errors %}error{% endif %}">
                    <input 
                        type="password" 
                        name="password1" 
                        placeholder="Mot de passe" 
                        value="">
                    {{ auth_form.password1.errors }}
                </div>
                <div class="field {% if auth_form.password2.errors %}error{% endif %}">
                    <input 
                        type="password" 
                        name="password2" 
                        placeholder="Confirmer mot de passe" 
                        value="">
                    {{ auth_form.password2.errors }}
                </div>
            </div>
        </div>
        
        <div class="field">
            <label class="ui dividing header">Adresse</label>
            <div class="field {% if member_form.address1.errors %}error{% endif %}">
                <input 
                    type="text" 
                    name="address1" 
                    placeholder="Adresse"
                    class="capitalize"
                    value="{{ member_form.address1.value|default:'' }}">
                {{ member_form.address1.errors }}
            </div>
            <div class="three fields">
                <div class="field {% if member_form.zip_code.errors %}error{% endif %}">
                    <select class="ui fluid dropdown" name="zip_code">
                        <option value="0"><i>Commune</i></option>
                        <option value="97216">Ajoupa-Bouillon</option>
                        <option value="97217">Anses-d'Arlet</option>
                        <option value="97218">Basse-Pointe</option>
                        <option value="97222">Bellefontaine</option>
                        <option value="97221">Carbet</option>
                        <option value="97222">Case-Pilote</option>
                        <option value="97223">Diamant</option>
                        <option value="97224">Ducos</option>
                        <option value="97250">Fonds-Saint-Denis</option>
                        <option value="97200">Fort-de-France</option>
                        <option value="97240">François</option>
                        <option value="97218">Grand'Rivière</option>
                        <option value="97213">Gros-Morne</option>
                        <option value="97232">Lamentin</option>
                        <option value="97214">Lorrain</option>
                        <option value="97218">Macouba</option>
                        <option value="97225">Marigot</option>
                        <option value="97290">Marin</option>
                        <option value="97260">Morne-Rouge</option>
                        <option value="97226">Morne-Vert</option>
                        <option value="97250">Prêcheur</option>
                        <option value="97211">Rivière-Pilote</option>
                        <option value="97215">Rivière-Salée</option>
                        <option value="97231">Robert</option>
                        <option value="97227">Sainte-Anne</option>
                        <option value="97228">Sainte-Luce</option>
                        <option value="97230">Sainte-Marie</option>
                        <option value="97270">Saint-Esprit</option>
                        <option value="97212">Saint-Joseph</option>
                        <option value="97250">Saint-Pierre</option>
                        <option value="97233">Schœlcher</option>
                        <option value="97220">Trinité</option>
                        <option value="97229">Trois-Îlets</option>
                        <option value="97280">Vauclin</option>
                    </select>
                    {{ member_form.zip_code.errors }}
            </div>
            </div>
        </div>
        <div class="field">
            <label class="ui dividing header">Téléphones <i>(0696 12 34 56 ou +596 696 12 34 56)</i></label>
            <div class="field">
                <div class="three fields">
                    <div class="field {% if member_form.phone_cell.errors %}error{% endif %}">
                        <input 
                            type="text" 
                            name="phone_cell" 
                            placeholder="Portable"
                            class="lowercase"
                            value="{{ member_form.phone_cell.value|default:'' }}">
                            
                        {{ member_form.phone_cell.errors }}
                    </div>
                    <div class="field {% if member_form.phone_home.errors %}error{% endif %}">
                        <input 
                            type="text" 
                            name="phone_home" 
                            placeholder="Domicile"
                            class="lowercase"
                            value="{{ member_form.phone_home.value|default:'' }}">
                            
                        {{ member_form.phone_home.errors }}
                    </div>
                    <div class="field {% if member_form.phone_pro.errors %}error{% endif %}">
                        <input 
                            type="text" 
                            name="phone_pro" 
                            placeholder="Professionnel"
                            class="lowercase"
                            value="{{ member_form.phone_pro.value|default:'' }}">
                            
                        {{ member_form.phone_pro.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="newsletter_sub" tabindex="0" class="hidden" checked="true">
                    <label>S'inscrire à la newsletter.</label>
                </div>
            </div>
        </div>
        <input type="submit" class="ui button inverted green" value="Valider">
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(function () {
        const city = '{{ form.zip_code.value|default:"" }}';
        if (city) {
            const select = document.querySelector('select[name="zip_code"]');
            const option = select.querySelector(`option[value="${city}"]`);

            if (option) {
                select.value = city;

                const dropdown = select.parentElement;

                dropdown.querySelector('.text').innerHTML = option.innerHTML;
                dropdown.querySelector('.menu .item.active').classList.remove('active default');
                dropdown.querySelector(`.menu .item[data-value="${city}"]`).classList.add('active default');
            }
        }
    })
</script>
{% endblock %}
