{% extends 'demo/base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<!-- PAGE BANNER -->
<section>
    <div class="page banner">
        <div class="bg purple"></div>
        <div class="ui container">
            <h1 class="header white">Headers & Typo</h1>
        </div>
    </div>
    <div class="page banner">
        <div class="filter"></div>
        <div class="bg">
            <img src="/media/demo/bg-about.jpg" alt="">
        </div>
        
        <div class="ui container">
            <h1 class="header white">Headers & Typo</h1>
        </div>
    </div>
</section>

<!-- HEADERS -->
<section class="" style="background-color: #f7f1e9;">
    <div class="ui container transparent">
        <h1 class="header centered">
            Headers & Typo
            <div class="subheader">Lorem ipsum dolor sit amet</div>
        </h1>
        <h2 class="header">
            Headers & Typo
            <div class="subheader">Lorem ipsum dolor sit amet</div>
        </h2>
        <h3 class="header centered">
            Headers & Typo
            <div class="subheader">Lorem ipsum dolor sit amet</div>
        </h3>
        <h4 class="header">
            Headers & Typo
            <div class="subheader">Lorem ipsum dolor sit amet</div>
        </h4>
    </div>
</section>

<!-- TYPO -->
<section>
    <div class="ui container py-4">
        <div class="ui grid two column">
            <div class="column">
                <h2 class="header">Notre Historique</h2>

                Né de la fédération de plusieurs associations et groupements indépendants de parents
                d’élèves, constituée solennellement le 23 mai 1992, l’UPEM (<b>U</b>nion des <b>P</b>arents d’<b>E</b>lèves de
                <b>M</b>artinique), est une association à but non lucratif régie par la loi du 1 er juillet 1901.
                <br>
                <br>

                Depuis sa création l’UPEM est la principale association de parents d’élèves de Martinique.
                Force de proposition et de progrès, représentée dans la majeure partie des établissements
                scolaires du secondaire et des écoles du primaire.
                L’UPEM fait valoir ses points de vue auprès des différentes institutions, instances et autres
                organismes où elle siège.

                <br>
                <br>
                Depuis 29 années, les bénévoles, avec l’appui des salariés impliqués, militent pour que tous
                nos enfants bénéficient, dans le système éducatif public, de tous les moyens, outils et
                techniques nécessaires à leur meilleure réussite et total épanouissement.
                
                <br>
                <br>
                Alors, ils seront en mesure de réaliser leurs souhaits tant en Martinique que dans le monde et
                ainsi donner une forte réalité à notre devise : <b>DIVINI YICH NOU SE DIVINI PEYI-A</b>.
            </div>
            <div class="column">
                <img class="rounded" src="https://source.unsplash.com/random/500x500" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
{% endblock extra_js %}