{% extends 'demo/base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<section>
    <div class="home page front">
        <div class="filter"></div>
        <div class="bg">
            <img src="/media/demo/national-cancer-institute-VJVsEnR_vNE-unsplash.jpg" alt="">
        </div>
        <div class="top banner">
            <span class="join">Rejoignez</span>
            <hr>
            <span class="upem">l'upem</span>
        </div>
        <div class="bottom banner">
            <span class="intro">
                Pour une année scolaire <span class="sy">2021 - 2022</span> dans la réussite, Ensemble
            </span>
            <span class="slogan">
                <i class="icon quote left"></i>
                divini yich nou sé divini péyi-a
            </span>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}{% endblock extra_js %}